@import url(_variaveis.css);
@import url(_reset.css);

body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    background-color: var(--branco-outro-tom);
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo {
    font-size: var(--tamanho-titulo);
}

.titulo-destaque {
    font-size: var(--tamanho-titulo-destaque);
    font-weight: var(--peso-titulo-destaque);
    display: block;

    margin-top: .75rem;
    margin-bottom: .75rem;
}

.alinhamento--esquerda {
    text-align: left;
}

.alinhamento--meio {
    text-align: center;
}

.texto {
    line-height: 26px;
}

.cursos {
    max-width: 1250px;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}