.banner{
    display: flex;
    background-color: var(--rosa);
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.banner_vermelho{
    display: flex;
    background-color: var(--vermelho);
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.banner_amarelo{
    display: flex;
    background-color: var(--amarelo);
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.banner_verde{
    display: flex;
    background-color: var(--verde);
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.banner-logo-curso{
    width: 80px;
    height: 100px;
}