.card{
    border: 2px solid darkred;
    max-width: 278px;
    margin: 10px 10px;
    border-radius: 5px;
    height: 110px;
    display: flex;
    align-items: center;
}

.card:hover{
    box-shadow: 2px 2px 5px #000;
    transform: scale(1.02);   
}

.card--logo-curso{
    width: 40px;
    padding-right: 10px;
}

.card > a{
    display: flex;
}